<div class="container-fluid text-center">
        <div class="row content">
        <h3 class="white">you found the secret message</h3>

        <div class="col-sm-3 sidenav">
                <div ui-view="sidenav"> </div>
        </div>
        <div class="container">
                <div class="col-sm-9">
<h1 id="header" class="text-primary">My Blog</h1>

<div class="container list-article">
    <div class="btn-group pull-right" id="switch-view">
        <button class="btn btn-primary">
    <span class="icon-th-large"></span>
  </button>
        <button class="btn btn-primary active">
    <span class="icon-th-list"></span>
  </button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12 article-wrapper">
            <article class="blog">
                <a href="#" class="more">more</a>
                <div class="img-wrapper"><img src="/../img/tools.jpg" alt="" /></div>
                <h1>Tools of my trade </h1>
                <p> It’s a poor craftsman who blames his tools</p>
            </article>
        </div>
        <div class="col-xs-12 article-wrapper">
                <article class="blog">
                <a href="#" class="more">more</a>
                <div class="img-wrapper"><img src="/../img/loveTheBomb.jpg" alt="" /></div>
                <h1>Console.log Or:</h1>
                <p> How I learned to Stop worrying and Love the Code </p>
            </article>
        </div>
        <div class="col-xs-12 article-wrapper">
                <article class="blog">
                <a href="#" class="more">more</a>
                <div class="img-wrapper"><img src="http://lorempixel.com/150/150/food" alt="" /></div>
                <h1>Handsome Man</h1>
                <p>Dolor tempora nihil facere explicabo qui mollitia </p>
            </article>
        </div>
        <!-- <div class="col-xs-12 article-wrapper">
            <article>
                <a href="#" class="more">more</a>
                <div class="img-wrapper"><img src="http://lorempixel.com/150/150/nature" alt="" /></div>
                <h1>Velit natus possimus.</h1>
                <p>Illum voluptates nisi asperiores temporibus illo maiores qui aliquid corporis exercitationem libero dolor
                    tenetur. Doloremque!</p>
            </article>
        </div>
        <div class="col-xs-12 article-wrapper">
            <article>
                <a href="#" class="more">more</a>
                <div class="img-wrapper"><img src="http://lorempixel.com/150/150/abstract" alt="" /></div>
                <h1>Atque quo maxime.</h1>
                <p>Sed eveniet iste magni possimus ipsum dolore ea nesciunt eligendi id. Eum quos voluptatibus ullam.</p>
            </article>
        </div>
    </div>
</div> -->