<footer class="navbar navbar-absolute-bottom" style="border:0px;margin-top:1rem">
    <div class="container-fluid">
                <hr>
        <div class="rowBottom" align="center">
            <div class="col-xs-12 col-sm-12">
                <a class="icon" href="/"><img class="icon" src="/img/badges/cfIcon.png" alt="devLogo"/></a>
            </div>
        </div>
<br>
        <div class="col-xs-12">
            <p  href="/" align="center" style="padding-top: .7rem; margin-bottom:0px;">Back to Home</p>
        </div>
    </div>
 </footer>
        