<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <div class="three col">
            <div class="hamburger" id="hamburger-6">
                    <span class="line"></span>
                    <span class="line"></span> 
                    <span class="line"></span>
                  </div>
        </div>
                </button>
      <a class="navbar-brand" href="/" id="header">chris finney</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="/resume"><span class="glyphicon glyphicon-briefcase" 
                         aria-hidden="true"></span> resume</a></li>
        <li><a href="/portfolio"><span class="glyphicon glyphicon-list-alt"
                    aria-hidden="true"></span> portfolio</a></li>
                    <li><a href="mailto:chrisfinney86@gmail.com?"><span class="glyphicon glyphicon-envelope"></span> contact</a></li>
      </ul>
    </div>
  </div>
</nav>