<div class="container-fluid text-center">
    <div class="row content">
        <br>
        <div class="col-sm-4 sidenav">
                <div ui-view="sidenav"> </div>
        </div>

        
            <div class="col-sm-8">
                    <h3 id="title">My Portfolio</h3>
                <div class="row"> 
                    <div class="col-xs-6 col-sm-6">
                        <div class="mix category-a">
                            <div class="single-portfolio3">
                                <a class="gallery-item" href="/trimr"><img class="img-responsive-a" src="./img/screenshots/trimr/trimrHome.png"  alt="trimr"/></a>
                                <p class="subTitle">trimr</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6">
                        <div class="mix category-a">
                            <div class="single-portfolio4">
                                <a class="gallery-item" href="/covstore"><img class="img-responsive-a" src="./img/screenshots/storefront.png"  alt="CovStore"/></a>
                                <!-- <a class="gallery-item" href="/covstore"><img class="img-responsive-a" src="./img/screenshots/storefront.png"  style="max-height:350px; min-height:210px; width:100%" alt="CovStore"/></a> -->
                                <p class="subTitle">Covalence Store</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

    </div>
</div>