<div class="jumbotron">
        <div ui-view="sidenav"> </div>
</div>
<div class="container">
    <div class="row content">
        <br>
        <div class="container">
            <div class="col-sm-12">
                <h1 class="covMain">Resume</h1>
    <hr>
                <div class="text-center" id="resumeBack">
                    <br>
                    <h3 class="profileH3">PROFILE</h3>
                    <p class="profileP"> A Full Stack Web Developer seeking knowledge, tirelessly.
                     Recently graduated from the Covalence Full Stack Web Development Bootcamp with the ability to help others learn and understand complex subject matters.
                     Always pursuing a challenge; relentless in delivering quality products
                    Leadership and communication is second nature. Excels best in high paced, quick thinking environments.</p>
                    <h3 class="profileH3">EDUCATION </h3>
                    <h4 class="subH4">COVALENCE BOOTCAMP</h4>
                    <p class="resumeP2">Full Stack Web Development | May 2017 – Aug 2017 </p>
                    <h3 class="profileH3">SKILLS</h3>
                    <p class="resumeP2">Responsive Web Design, HTML5 + SCSS, MongoDB, AngularJS,
                    Node.js, jQuery, MySQL, AWS EC2 & RDS, Passport Authentication</p>
                    <h3 class="profileH3">EXPERIENCE</h3>
                    <h4 class="profileH4"id="trimrH4">TRIMR</h4>
                    <h4 class="subH4">Co Founder/ Lead Developer | Aug, 2017 – Current </h4>
                    <p class="profileP">trimr started as final project during the Covalence boot camp. It is a responsive mobile web site built
                        with Bootstrap and AngularJS.
                   It queries a MySQL database with Node.js and calls to a third-party API.
                  Users are able to connect to mobile hairstylists, where they will come to your location to cut your hair.
                    </p>
                    <p class="profileP3"> <a href="https://youtu.be/aH86z_9gT28">A short demonstration can be viewed here.</a></p>
                    <h3 class="profileH3">FREE THE HOPS</h3>
                    <h4 class="subH4">Classroom Organizer and Educator | Dec, 2016 – Current</h4>
                    <p class="profileP">Responsible for creating custom learning materials to host a classroom for the course 
                    “Certified Beer Server” endorsed by the Cicerone Certification Program.
                    Maintained a 100% pass rate for all students to have taken the course.
                    </p>
                    <h3 class="profileH3">OvenBird </h3>
                    <h4 class="subH4">key employee and waiter | Oct, 2015 – Apr, 2017</h4>
                    <p class="profileP">Oversaw the building of beer draft and bottle list, and responsible for maintaining draft line integrity.
                   Responsible for management duties one day a week, such as managing cash draws and end of night documents
                    </p>
                </div>
            </div>
            <div class="col-xs-12">
                    <p class="profileP3"><a target="_self" href="/../chrisFinneyResume.pdf" download="chrisFinneyResume.pdf">To download a PDF copy click here</a></p>
            </div>
        </div>
    </div>
</div>