
        <img src="/img/myProfilePicSmall.jpg" id="avatar" alt="Avatar">
        <h2 class="name"> Chris Finney</h2>
        <h4 class="title"> Full Stack Web Developer</h4>
        <h4 class="title">Birmingham, AL</h4>
     
        
        <div class="col-xs-12 text-center">
        <ul class="nav nav-pills inline">   
                <li><a href="https://github.com/CFin86"><span class="fa fa-github fa-2x" aria-hidden="true"></span> </a></li>
                <li><a href="https://www.linkedin.com/in/cfin86/"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a></li>
                <li><a href="mailto:chrisfinney86@gmail.com?"><span class="fa fa-envelope-o fa-2x"></span> </a></li>
                <li ><a href="skype:cfin86?chat"><span class="fa fa-skype fa-2x"></span></a></li>
            </ul>
        </div>
        <br>
    