
        <img src="/img/myProfilePic1.jpg" id="avatar" alt="Avatar">
        <h2 class="name"> Chris Finney</h2>
        <h4 class="title"> Full Stack Web Developer</h4>
        <h4 class="title">Birmingham, AL</h4>
        <ul class="nav nav-pills nav-stacked">
            
            <li><a href="https://github.com/CFin86"><span class="fa fa-github" aria-hidden="true"></span> Github</a></li>
            <li><a href="https://www.linkedin.com/in/cfin86/"><span class="fa fa-linkedin" aria-hidden="true"></span> LinkedIn</a></li>
            <li><a href="mailto:chrisfinney86@gmail.com?"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
        </ul>
        <br>
    