<div class="container-fluid text-center">
    <div class="row content">
        <br>

        <div class="col-sm-4 sidenav">
            <div ui-view="sidenav"> </div>
        </div>
        <div class="container">
            <div class="col-sm-8">
                <h3 id="title">trimr</h3>
                <h3 class="profileH3">CHALLENGE</h3>
                <p class="profileP"> You will receive mockups produced by a graphic designer. </p>
                <p class="profileP"> This site will have the following reqiurements: </p>
                <p class="profileP"> Must be responsive (look good on mobile and desktop)</p>
                <p class="profileP"> <strong>A product list page </strong>- Shows tiles of product images, along with title, short description,
                    and price </p>
                <p class="profileP"> <strong>Contact us page </strong> - Should have a form where people can input their name, email, and a message.
                </p>
                <p class="profileP"> You should use sendgrid to email yourselves in response to this form being filled out.</p>
                <p class="profileP"> <strong>Using Stripe</strong>- Should have fields for email, card number, CVC, expiration, AND billing zip
                    code </p>
                <p class="profileP"> Should send an email to the customer thanking them for their purchase, complete with the title of the item
                    they </p>
                <p class="profileP"> purchased and the amount </p>
                <p class="profileP"> A navbar at the top of the site </p>
                <a class="click" href="https://github.com/gvonhagel/FS-SP17-GProject1/blob/master/README.md"> A full description of the challenge can be viewed here </a>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">The Overview </h3>
                <a class="gallery-item" data-toggle="modal" data-target="#trim1stModal">
                    <img src="./img/screenshots/trimr/trimrHome.png" title="Enlarge" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="cursor:zoom-in; margin-right: .25rem"></a>
                <div>
                    <p class="profileP">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3 class="profileH3">Client Dashboard</h3>
                <div class="mix category-a">
                    <div>
                        <a class="gallery-item" data-toggle="modal" data-target="#trim2ndModal">
                                <img class="pull-right img-responsive-a thumb margin10 img-thumbnail" title="expand" style="cursor:zoom-in" src="./img/screenshots/trimr/clientDash.png"  alt="Responsive Design"/></a>
                    </div>
                </div>

                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">Getting my hair cut</h3>
                <a class="gallery-item" data-toggle="modal" data-target="#trim3rdModal">
                    <img src="./img/screenshots/trimr/haircut.JPG" alt="post img" title="expand" style="cursor:zoom-in" class="pull-left img-responsive thumb margin10 img-thumbnail"></a>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">Demo Day</h3>
                <a class="gallery-item" data-toggle="modal" data-target="#ddModal">
                                <img src="./img/screenshots/trimr/theboys.jpg" alt="post img" title="expand" style="cursor:zoom-in" class="pull-right img-responsive thumb margin10 img-thumbnail"></a>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
                <p class="profileP"> </p>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">Getting my hair cut</h3>
                <a class="gallery-item" data-toggle="modal" data-target="#trim3rdModal">
                                <img src="./img/screenshots/trimr/haircut.JPG" alt="post img" title="expand" style="cursor:zoom-in" class="pull-left img-responsive thumb margin10 img-thumbnail"></a>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">Demo Day</h3>
                <a class="gallery-item" data-toggle="modal" data-target="#ddModal">
                            <img src="./img/screenshots/trimr/theboys.jpg" alt="post img" title="expand" style="cursor:zoom-in" class="pull-right img-responsive thumb margin10 img-thumbnail"></a>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
                <p class="profileP"> </p>
            </div>
            <div class="col-sm-8">
                <h3 class="profileH3">Getting my hair cut</h3>
                <a class="gallery-item" data-toggle="modal" data-target="#trim3rdModal">
                            <img src="./img/screenshots/trimr/haircut.JPG" alt="post img" title="expand" style="cursor:zoom-in" class="pull-left img-responsive thumb margin10 img-thumbnail"></a>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
            </div>
            <div class="col-sm-8">
                <h3 class="portBtmH3">Covalence Store was Built With </h3>
                <img class="icon" src="./img/badges/html5-css3.png" alt="html5/css3">
                <img class="icon" src="./img/badges/AngularJS-Shield.svg" alt="angular">
                <img class="icon" src="./img/badges/bootstrap.png" alt="bootstrap">
                <img class="icon" src="./img/badges/node.png" alt="nodejs">
                <img class="icon" src="./img/badges/mysql.png" alt="mysql">
            </div>
            <div class="col-sm-12 gap10">
            </div>
        </div>
        <div class="col-sm-12 gap10">
        </div>
    </div>
</div>


<!-- GETTING STARTED MODAL -->
<div id="trim1stModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">All Said and Done!</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" src="./img/screenshots/trimr/trimrHome.png" style="border-radius: 10px" />
                    <br>

                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IMG MODAL -->
<div id="trim2ndModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Clent Dash Design</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" src="./img/screenshots/trimr/clientDash.png" style="border-radius: 10px;  margin-left: auto;
                        margin-right: auto;" />
                    <br>

                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="trimrNthModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Stylist Dash Design</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" src="./img/screenshots/trimr/stylistApp.png" style="border-radius: 10px;  margin-left: auto;
                            margin-right: auto;" />
                    <br>

                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GETTING PRODUCT MODAL -->
<div id="trim3rdModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">The HairCut Page</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" src="./img/screenshots/trimr/haircut.JPG" style="border-radius: 10px" />
                    <br>

                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Demo Day MODAL -->
<div id="ddModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!--Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">The Demo DAy Page</h4>
            </div>

            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" src="./img/screenshots/trimr/theboys.jpg" style="border-radius: 10px" />
                    <br>

                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>