<div class="container-fluid text-center">
    <div class="row content">
        <br>

        <div class="col-sm-4 sidenav">
            <div ui-view="sidenav"> </div>
        </div>
        <!-- <div class="container mobile"> -->
        <br>
        <div class="col-sm-8 mobile">
            <h3 id="title">trimr</h3>
            <h3 class="profileH3">The Overview </h3>

            <p class="profilePTR">
                trimr started as final project during the Covalence boot camp. It is Software as a Service responsive mobile web site built
                with Bootstrap and AngularJS. It queries a MySQL database with Node.js and calls to a third-party API. Users
                are able to connect to mobile hairstylists via the Twilio and Appointlet API, where they will come to your
                location to cut your hair. During our presentation I booked an appointment with a stylist live and had her
                cut my hair! Currently, we are pursuing startup funding.
                 <a href="https://youtu.be/aH86z_9gT28">A short demonstration can be viewed here.</a>
            </p>
         
            <div class="buttons">
                <span><button class="btn btn-primary btn-lg" id="prev" disabled="disabled">Previous</button></span>
                <span><button class="btn btn-primary btn-lg" id="next">   Next   </button></span>
            </div>

            <!-- <div class="col-sm-8 mobile"> -->
            <div id="carousel">

                <div class="selected">

                    <img src="./img/screenshots/trimr/trimrHome.png">
                </div>

                <div class="next">
                    <img src="./img/screenshots/trimr/FAQ.png">
                </div>

                <div class="hideRight">
                    <img src="./img/screenshots/trimr/notLoggedIn.png">
                </div>

                <div class="hideRight">
                    <img src="./img/screenshots/trimr/clientDash.png">
                </div>

                <div class="hideRight">
                    <img src="./img/screenshots/trimr/clientSched.png">
                </div>
                <div class="hideRight">
                    <img src="./img/screenshots/trimr/stylistApp.png">
                </div>
                <div class="hideRight">
                    <img src="./img/screenshots/trimr/stylistPage.png">
                </div>
                <div class="hideRight">
                    <img src="./img/screenshots/trimr/haircut.JPG">
                </div>

                <div class="hideRight">
                    <img src="./img/screenshots/trimr/theboys.jpg">
                </div>

            </div>


        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="portBtmH3">trimr was Built With </h3>
        <img class="icon" src="./img/badges/html5-css3.png" alt="html5/css3">
        <img class="icon" src="./img/badges/AngularJS-Shield.svg" alt="angular">
        <img class="icon" src="./img/badges/bootstrap.png" alt="bootstrap">
        <img class="icon" src="./img/badges/node.png" alt="nodejs">
        <img class="icon" src="./img/badges/Twilio_logo.png" alt="twilio">
        <img class="icon" src="./img/badges/appointlet.png" alt="appointlet">
        <img class="icon" src="./img/badges/mysql.png" alt="mysql">
    </div>
</div>
<div class="col-sm-12 gap10">
</div>



<div class="col-sm-12 gap10">
</div>
