<div class="container-fluid text-center">
    <div class="row content">
        <br>
       
        <div class="col-sm-4 sidenav">
            <div ui-view="sidenav"> </div>
        </div>


        <div class="col-sm-8">
            <h3 id="title">Recent Projects</h3>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="mix category-a">
                        <div class="single-portfolio1">
                            <!-- <a class="gallery-item" href="/resume"><img class="img-responsive" src="./img/resume.png"  style="max-height:350px; width:100%; border-radius: 10px;" alt="resume"/></a> -->
                            <a class="gallery-item" href="/resume"><img class="img-responsive-a" src="./img/resume.png" alt="resume"/></a>
                            <h4></h4>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6">
                    <div class="mix category-a">
                        <div class="single-portfolio2">
                            <!-- <a class="gallery-item" href="/portfolio"><img class="img-responsive" src="./img/screenshots/trimr/trimrHome.png"  style="max-height:350px; min-height:350px; width:100%; border-radius: 10px;" alt="portfolio"/></a> -->
                            <a class="gallery-item" href="/portfolio"><img class="img-responsive-a" src="./img/screenshots/trimr/trimrHome.png"  alt="portfolio"/></a>
                            <h4> </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
